<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">  
	<display-name>BTTTSSample</display-name>
	<listener>
		<display-name>BTT Session Timeout Handler</display-name>
		<listener-class>com.ibm.btt.sm.TimeoutHandler</listener-class>
	</listener>
	<servlet>
		<display-name>StartServerServlet</display-name>
		<servlet-name>StartServerServlet</servlet-name>
		<servlet-class>com.ibm.btt.application.appl.StartServerServlet</servlet-class>
		<init-param>
			<param-name>bttConfigPath</param-name>
			<param-value>jar:///definitions/btt.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>HTMLReqServlet</display-name>
		<servlet-name>HTMLReqServlet</servlet-name>
		<servlet-class>com.ibm.btt.cs.html.HTMLReqServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>CSEstablishSessionServlet</display-name>
		<servlet-name>CSEstablishSessionServlet</servlet-name>
		<servlet-class>com.ibm.btt.cs.servlet.CSEstablishSessionServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>AjaxRequestServlet</display-name>
		<servlet-name>AjaxRequestServlet</servlet-name>
		<servlet-class>com.ibm.btt.cs.ajax.AjaxRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>OpenAPIRequestServlet</display-name>
		<servlet-name>OpenAPIRequestServlet</servlet-name>
		<servlet-class>unicomsi.btt.openapi.OpenAPIRequestServlet</servlet-class>
		<init-param>
			<param-name>CORS</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>ORIGIN</param-name>
			<param-value>*</param-value>
		</init-param>
	</servlet>
	<servlet>
		<display-name>CSRemoteServlet</display-name>
		<servlet-name>CSRemoteServlet</servlet-name>
		<servlet-class>com.ibm.btt.cs.html.remote.CSRemoteServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>FileUploadServlet</display-name>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>com.ibm.btt.cs.ajax.FileUploadServlet</servlet-class>
		<init-param>
			<param-name>checkDuration</param-name>
			<param-value>2000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartServerServlet</servlet-name>
		<url-pattern>/InitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HTMLReqServlet</servlet-name>
		<url-pattern>/Request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSEstablishSessionServlet</servlet-name>
		<url-pattern>/EstablishSession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxRequestServlet</servlet-name>
		<url-pattern>/Ajax</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OpenAPIRequestServlet</servlet-name>
		<url-pattern>/openapi/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CSRemoteServlet</servlet-name>
		<url-pattern>/RemoteFlowReqServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/FileUploadServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
